#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}


 
#wrapper.toggled {
    padding-left: 250px;
    overflow: scroll;
}
 
.pagee{

margin-top:auto;
   margin-left: 250px;
margin-bottom: 0px;

}
#ncc{
    margin-left:200px; 
    margin-top: -25px;
}

.pagee img{
    
 margin-top: 50px;
    
}
.jssora05l, .jssora05r {

                margin-top: 110px;
            }


#sidebar-wrapper {
    z-index: 1000;
    position: absolute; 
    left: 200px;
    width: 0;
    height: 146%;
    margin-left: -200px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}


#page-content-wrapper {
    position: absolute;
    padding: 0px;
    width: 100%;  
    overflow-x: hidden; 
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */
 
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}
 
.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}
 
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
 
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
}
 
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
 
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
 
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
 
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}
 
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    .fixed-brand{
        width: 200px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
 
    #sidebar-wrapper {
        width: 200px;
    }
 
    #wrapper.toggled #sidebar-wrapper {
        width: 200px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 0px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 200px;
    }


 
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
 
    }


}
@media(max-width: 1200px)
                {
                    .homepage{
                        margin-left: auto;
                        width: auto;
                    }

                .pagee{

                    margin-left: 170px;
                    margin-bottom: auto;

                }
                }






@media (max-width:1065px)
                {

        
                   footer{
                    width:auto;
                   }
                   footer img{
                        height: 100px;
                        width: 160px;
                    }

                     #calling h2{
                        font-size: 26px;
                    }
                    #calling p{
                        font-size: 18px;
                    }
                     

                    .pagee{
                        
                        margin-left: 70px ;

                        
                   }
                    .pagee img{
                        margin-top: 60px;
                       

                        
                    }       
                     #ncc{
                    margin-left:50px; 
                    margin-top: -25px;
                    }
                    
                    
                    .homepage{
                        margin-left: auto;
                        width: auto;
                    margin-top: 50px;
                    }

                     #slidepic{
                    margin-top: 90px;
                    margin-left: -250px;
                }
                #jssor_1{

                    position: relative; margin: 0 auto; top: 0px; margin-left:140px; width: 550px; height: 230px; overflow: hidden; visibility: hidden;
                    transform: scale(0.9);
                }
                #navig{
                    position: absolute; top: 0px; left: 0px;
                }
                #styll{
                    filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
                }
                #styl{
                    position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
                }
                #stylli{
                    cursor: default; position: relative; top: 0px; left: 0px; bottom: 0px; width: 550px; height: 230px; overflow: hidden;
                }
                 #arro{
                    top:0px;left:8px;width:40px;height:40px;

                }
                #arro1{
                     top:0px;right:8px;width:40px;height:40px;

                }
                .jssora05l, .jssora05r {

                    margin-top: 110px;
                 }
                 }

 

 @media(max-width:991px)
             {
       

                #calling h2{
                    font-size: 30px;
                }
                #calling p{
                    font-size: 20px;
                }
               #calling{
                width:340px;
               }
               footer{
                width:auto;
               }
               footer img{
                    height: 120px;
                    width: 200px;
                }
               
                .pagee {
                    margin-top: 60px;
                    margin-left: 0px ;

                    
                }
                .pagee img{
                    transform: scale(0.9);
                }
                 li.show{
                    font-size: 13px;

                }
                #ncc{
                margin-left:90px; 
                margin-top: -25px;
                }


                #social-platforms .btn-icon{
                    width: 90px;

                }
                .btn-facebook .btn-twitter .btn-google-plus .btn-pinterest .btn-linkedin{
                    width: 40px !important;
                }
                #icon1{
                    font-size: 2em !important;
                }
                .fa-circle{
                    font-size: 2.2em !important ;
                }
                
                .homepage{
                    margin-left: 230px;
                    width: auto;
                margin-top: 130px;
                }

                 #slidepic{
                margin-top: 90px;
                margin-left: -250px;
            }
          #jssor_1{

                position: relative; margin: 0 auto; top: 0px; margin-left:100px; width: 550px; height: 230px; overflow: hidden; visibility: hidden;
                transform: scale(0.85);
            }
            #navig{
                position: absolute; top: 0px; left: 0px;
            }
            #styll{
                filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
            }
            #styl{
                position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
            }
            #stylli{
                cursor: default; position: relative; top: 0px; left: 0px; bottom: 0px; width: 550px; height: 230px; overflow: hidden;
            }
             #arro{
                top:0px;left:8px;width:40px;height:40px;

            }
            #arro1{
                 top:0px;right:8px;width:40px;height:40px;

            }
             .jssora05l, .jssora05r {

                    margin-top: 110px;
                    }
                        
                    
            }
@media(max-width: 845px)
                {

                        .pagee img{
                    
                    
                    transform: scale(.85);
                                  
                }
                .pagee{
                    margin-top: -20px;
                    margin-left: 0px ;
                }

                .homepage{
                    margin-top: 20px !important;
                }
                li.show{
                    font-size: 12px;

                }


                 #slidepic{
                margin-top: 90px;
                margin-left: -250px;
            }
          #jssor_1{

                position: relative; margin: 0 auto; top: 0px; margin-left:100px; width: 580px; height: 260px; overflow: hidden; visibility: hidden;
                transform: scale(0.75);
            }
            #navig{
                position: absolute; top: 0px; left: 0px;
            }
            #styll{
                filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
            }
            #styl{
                position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
            }
            #stylli{
                cursor: default; position: relative; top: 0px; left: 0px; bottom: 0px; width: 580px; height: 260px; overflow: hidden;
            }
             #arro{
                top:0px;left:8px;width:40px;height:40px;

            }
            #arro1{
                 top:0px;right:8px;width:40px;height:40px;

            }
             .jssora05l, .jssora05r {

                    margin-top: 110px;
                    }
                    #social-platforms .btn-icon{
                    width: 80px;

                }
                footer img{
                    height: 100px;
                    width: 160px;
                }
                    

                 }  
@media(max-width:767px)
                  {
                #calling h2{
                    font-size: 22px;
                }
                #calling p{
                    font-size: 16px;
                }
                #calling{
                width:240px;
                }
                footer{
                    width: auto;
                }
                footer img{
                    height: 90px;
                    width: 150px;
                }

                #jssor_1{
                    width: 300px;
                 height: 200px;   
                }
                li.show{
                    font-size: 15px;

                }
                #ncc{
                margin-left:0px; 
                margin-top: -25px;
                }

                .pagee img{

                   
                    
                    transform: scale(0.7) ;

                    
                }
                .pagee{
                    margin-top: -80px;
                    margin-left: -40px;
                }
                

                 #social-platforms .btn-icon {
                    width: 60px;

                }
                #social-platforms .fa-facebook .fa-twitter .fa-google-plus .fa-pinterest .fa-linkedin{
                    width: 30px;
                }
                #icon1{
                    font-size: 1em !important;
                }
                .fa-circle{
                    font-size: 2em !important ;
                }
                .homepage{
                    margin-left: 200px;
                    width: auto;
                margin-top: 140px;
                
                }
                


                 #slidepic{
                margin-top: 60px;
                
            
                margin-bottom: 40px;
                  
                 }

             #jssor_1{

                position: relative; margin: 0 auto; top: 0px; margin-left: 20px; width:450px ; height: 180px; overflow: hidden; visibility: hidden;
                transform: scale(0.8);
            }
            #navig{
                position: absolute; top: 0px; left: 0px;
            }
            #styll{
                filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
            }
            #styl{
                position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
            }
            #stylli{
                cursor: default; position: relative; top: 0px; left: 0px; bottom: 0px; width: 450px; height: 180px; overflow: hidden;
            }
             #arro{
                top:0px;left:8px;width:40px;height:40px;

            }
            #arro1{
                 top:0px;right:8px;width:40px;height:40px;

            }
            .jssora05l, .jssora05r {

                margin-top: 95px;
            }
                
            } 
 @media(max-width:680px)
                  {
                #calling h2{
                    font-size: 22px;
                }
                #calling p{
                    font-size: 16px;
                }
                #calling{
                width:240px;
                }
                footer{
                    width: auto;
                }
                footer img{
                    height: 90px;
                    width: 150px;
                }

                #jssor_1{
                    width: 300px;
                 height: 200px;   
                }
                li.show{
                    font-size: 15px;

                }
                #ncc{
                margin-left:0px; 
                margin-top: -25px;
                }

                .pagee img{

                   
                    
                    transform: scale(0.5) ;

                    
                }
                .pagee{
                    margin-top: -140px;
                    margin-left: -150px;
                }
                

                 #social-platforms .btn-icon {
                    width: 60px;

                }
                #social-platforms .fa-facebook .fa-twitter .fa-google-plus .fa-pinterest .fa-linkedin{
                    width: 30px;
                }
                #icon1{
                    font-size: 1em !important;
                }
                .fa-circle{
                    font-size: 2em !important ;
                }
                .homepage{
                    margin-left: 200px;
                    width: auto;
                margin-top: 140px;
                
                }
                


                 #slidepic{
                margin-top: 60px;
                
            
                margin-bottom: 40px;
                  
                 }

             #jssor_1{

                position: relative; margin: 0 auto; top: 0px; margin-left: -40px ; width:450px ; height: 180px; overflow: hidden; visibility: hidden;
                transform: scale(0.6);
            }
            #navig{
                position: absolute; top: 0px; left: 0px;
            }
            #styll{
                filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
            }
            #styl{
                position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
            }
            #stylli{
                cursor: default; position: relative; top: 0px; left: 0px; bottom: 0px; width: 450px; height: 180px; overflow: hidden;
            }
             #arro{
                top:0px;left:8px;width:40px;height:40px;

            }
            #arro1{
                 top:0px;right:8px;width:40px;height:40px;

            }
            .jssora05l, .jssora05r {

                margin-top: 95px;
            }
                
            } 
           
@media(max-width:599px)
            {
            #calling{
                width: 180px;

            }
            #calling h2{
                font-size: 15px;
            }
            #calling p{
                font-size: 10px;
            }
            footer{
                width: auto;
            }
            .homepage{
                margin-top: -10px !important;
                width: auto;
                margin-left: 160px;
            }
            #calling p{
                font-size: 15px;
            }
            #calling h2{
                color:;
                font-size: 25px;
            }
            .idk
            {
               font-size: 19px;
            }
            #icon1{
                    font-size: 1em !important;
            }
            .fa-circle
            {
            font-size: 2em !important ;
            }
            #social-platforms{
                margin-left: 100px !important;
            }
            .pagee img
            {
                
                
                transform: scale(0.5) ;
           
            }
            .pagee{
                margin-top: -150px;
                margin-left: -200px;
            }
            #slidepic
            {
                margin-top: 50px;
                margin-left: -140px;

            }
            #jssor_1
            {

                position: relative; margin: 0 auto; top: 0px; margin-left: -220px; width: 280px; height: 120px; overflow: hidden; visibility: hidden;
                transform: scale(0.5);
            }
            #navig{
                position: absolute; top: 0px; left: 0px;
            }
            #styll{
                filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
            }
            #styl{
                position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
            }
            #stylli{
                cursor: default; position: relative; top: 0px; left: 0px; bottom: 0px; width: 280px; height: 120px; overflow: hidden;
            }
             #arro{
                top:0px;left:8px;width:40px;height:40px;

            }
            #arro1{
                 top:0px;right:8px;width:40px;height:40px;

            }
            .jssora05l, .jssora05r {

                margin-top: 36px;
            }

            }
@media(max-width: 540px)
{
    .pagee img{
        height: 80px;
        width: 200px;
    }
}
 @media (max-width: 539px)
 {

    
            #calling{
                width: 180px;

            }
            #calling h2{
                font-size: 15px;
            }
            #calling p{
                font-size: 10px;
            }
            footer{
                width: auto;
            }
            .homepage{
                margin-top: 50px !important;
                width: auto;
                margin-left: 100px;
            }
            #calling p{
                font-size: 15px;
            }
            #calling h2{
                color:;
                font-size: 25px;
            }
            .idk
            {
               font-size: 19px;
            }
            #icon1{
                    font-size: 1em !important;
            }
            .fa-circle
            {
            font-size: 2em !important ;
            }
            #social-platforms{
                margin-left: 100px !important;
            }
            .pagee img
            {
                
                
                
                transform: scale(2);
           
            }
            .pagee{
                margin-top: -50px;
                margin-left: 100px;
            }
            #slidepic
            {
                margin-top: 50px;
                margin-left: -140px;

            }
            #jssor_1
            {

                position: relative; margin: 0 auto; top: 0px; margin-left: -200px; width: 280px; height: 120px; overflow: hidden; visibility: hidden;
                transform: scale(0.55);
            }
            #navig{
                position: absolute; top: 0px; left: 0px;
            }
            #styll{
                filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
            }
            #styl{
                position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
            }
            #stylli{
                cursor: default; position: relative; top: 0px; left: 0px; bottom: 0px; width: 280px; height: 120px; overflow: hidden;
            }
             #arro{
                top:0px;left:8px;width:40px;height:40px;

            }
            #arro1{
                 top:0px;right:8px;width:40px;height:40px;

            }
            .jssora05l, .jssora05r {

                margin-top: 36px;
            }

 }          
@media (max-width: 500px)
            {
                #calling{
                width: 180px;

            }
            #calling h2{
                font-size: 15px;
            }
            #calling p{
                font-size: 10px;
            }
            footer{
                width: auto;
            }
            footer img{
                width: 100px !important;
                height: 70px !important;
            }
            .homepage{
                margin-top: 60px !important;
                width: auto;
                margin-left: 120px !important;
            }
            #calling p{
                font-size: 15px;
            }
            #calling h2{
                color:;
                font-size: 25px;
            }
            .idk
            {
               font-size: 19px;
            }
            #icon1{
                    font-size: 1em !important;
            }
            .fa-circle
            {
            font-size: 2em !important ;
            }
            #social-platforms{
                margin-top: 18px !important; 
                margin-left: 100px !important;
            }
            .pagee img
            {
                
                
                transform: scale(1.8) ;
           
            }
            .pagee{
                margin-top: -40px;
                margin-left: 70px ;
            }
            #slidepic
            {
                margin-top: 50px;
                margin-left: -140px;

            }
            #jssor_1
            {

                position: relative; margin: 0 auto; top: 0px; margin-left: -190px !important; width: 280px; height: 120px; overflow: hidden; visibility: hidden;
                transform: scale(0.6);
            }
            #navig{
                position: absolute; top: 0px; left: 0px;
            }
            #styll{
                filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
            }
            #styl{
                position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
            }
            #stylli{
                cursor: default; position: relative; top: 0px; left: 0px; bottom: 0px; width: 280px; height: 120px; overflow: hidden;
            }
             #arro{
                top:0px;left:8px;width:40px;height:40px;

            }
            #arro1{
                 top:0px;right:8px;width:40px;height:40px;

            }
            .jssora05l, .jssora05r {

                margin-top: 36px;
            }

            }

 @media (max-width: 430px)

            {
                #calling{
                width: 180px;

            }
            #calling h2{
                font-size: 15px;
            }
            #calling p{
                font-size: 10px;
            }
            footer{
                width: auto;
            }
            footer img{
                width: 100px !important;
                height: 70px !important;
            }
            .homepage{
                margin-top: 20px !important;
                width: auto;
                margin-left: 80px !important;
            }
            #calling p{
                font-size: 15px;
            }
            #calling h2{
                color:;
                font-size: 25px;
            }
            .idk
            {
               font-size: 19px;
            }
            #icon1{
                    font-size: 1em !important;
            }
            .fa-circle
            {
            font-size: 2em !important ;
            }
            #social-platforms{
                margin-top: 18px !important; 
                margin-left: 80px !important;
            }
            #social-platforms .btn-icon{
                    width: 40px !important;

                }
            .pagee img
            {
               
                
                transform: scale(1.4) ;
           
            }
            .pagee{
                 margin-top: -70px ; 

                margin-left: 40px;
            }
            #slidepic
            {
                margin-top: 50px;
                margin-left: -140px;

            }
            #jssor_1
            {

                position: relative; margin: 0 auto; top: 0px; margin-left: -170px !important; width: 280px; height: 120px; overflow: hidden; visibility: hidden;
                transform: scale(0.6);
            }
            #navig{
                position: absolute; top: 0px; left: 0px;
            }
            #styll{
                filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
            }
            #styl{
                position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
            }
            #stylli{
                cursor: default; position: relative; top: 0px; left: 0px; bottom: 0px; width: 280px; height: 120px; overflow: hidden;
            }
             #arro{
                top:0px;left:8px;width:40px;height:40px;

            }
            #arro1{
                 top:0px;right:8px;width:40px;height:40px;

            }
            .jssora05l, .jssora05r {

                margin-top: 36px;
            }


            }           
 @media(max-width: 360px)
            {

            #calling h2{
                font-size: 10px;
            }
            #calling p{
                font-size: 7px;
            }
            footer{
                width: auto;
            }
            .homepage{
                margin-left: 70px;
                width: auto;
                margin-top: 70px;
            }
            footer{
                height: auto;
            }
            footer img{
                        height: 40px ;
                        width: 80px !important;
                    }
            .pagee img{
                
                

                transform: scale(1.2);

            }
             #social-platforms .btn-icon{
                    width: 30px !important;

                }
              .pagee{
                margin-top: -120px;
            
            margin-left: 30px ;

            
       }

            #slidepic{
                margin-top: 30px;
                margin-left: -250px;
            }
            #jssor_1{

                position: relative; margin: 0 auto; top: 0px; margin-left: -105px !important; width: 280px; height: 120px; overflow: hidden; visibility: hidden;
                transform: scale(0.45);
            }
            #navig{
                position: absolute; top: 0px; left: 0px;
            }
            #styll{
                filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
            }
            #styl{
                position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
            }
            #stylli{
                cursor: default; position: relative; top: 0px; left: 0px; bottom: 0px; width: 280px; height: 120px; overflow: hidden;
            }
             #arro{
                top:0px;left:8px;width:40px;height:40px;

            }
            #arro1{
                 top:0px;right:8px;width:40px;height:40px;

            }
            .jssora05l, .jssora05r {

                margin-top: 60px;
            }
            .idk{
                font-size: 12px;
            }
            }

 @media (max-width:319px)
                {

            #calling h2{
                font-size: 10px;
            }
            #calling p{
                font-size: 7px;
            }
            footer{
                width: auto;
            }
            .homepage{
                margin-left: 40px !important;
                width: auto;
                margin-top: 20px !important;
            }
            footer{
                height: auto;
            }
            footer img{
                        height: 60px;
                        width: 90px;
                    }
            .pagee img{

                
                        
                    transform: scale(1.1) ;

                }
                .pagee{
                    margin-top: -120px;

                    margin-left: 0px;
                }
               

                #slidepic{
                    margin-top: 50px;
                    margin-left: -250px !important;
                }
              #jssor_1{

                    position: relative; margin: 0 auto; top: 0px; margin-left: -105px; width: 220px; height: 100px; overflow: hidden; visibility: hidden;
                    transform: scale(0.45);
                }
                #navig{
                    position: absolute; top: 0px; left: 0px;
                }
                #styll{
                    filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
                }
                #styl{
                    position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
                }
                #stylli{
                    cursor: default; position: relative; top: 0px; left: 0px; bottom: 0px; width: 220px; height: 100px; overflow: hidden;
                }
                 #arro{
                    top:0px;left:8px;width:40px;height:40px;

                }
                #arro1{
                     top:0px;right:8px;width:40px;height:40px;

                }
                .jssora05l, .jssora05r {

                    margin-top: 60px;
                }
                .idk{
                    font-size: 12px;
                }



            }
