#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}


 
#wrapper.toggled {
    padding-left: 250px;
    overflow: scroll;
}
 
.pagee{

    padding-left: 200px;
margin-bottom: 0px;

}
#ncc{
    margin-left:200px; 
    margin-top: -25px;
}

.pagee img{
    
 margin-top: 50px;
    margin-left: 90px;
}
.pagee h5{
    color: blue;

padding-left: 230px;

}

.row {
    margin-top: -20px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute; 
    left: 200px;
    width: 0;
    height: 146%;
    margin-left: -200px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}


#page-content-wrapper {
    position: absolute;
    padding: 0px;
    width: 100%;  
    overflow-x: hidden; 
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */
 
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}
 
.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}
 
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
 
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
}
 
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
 
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
 
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
 
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}
 
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    .fixed-brand{
        width: 200px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
 
    #sidebar-wrapper {
        width: 200px;
    }
 
    #wrapper.toggled #sidebar-wrapper {
        width: 200px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 0px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 200px;
    }


 
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
 
    }




}
 @media(max-width:991px)
    {
       

        #calling h2{
            font-size: 30px;
        }
        #calling p{
            font-size: 20px;
        }
       #calling{
        width:340px;
       }
       footer{
        width:auto;
       }
       footer img{
            height: 120px;
            width: 200px;
        }

       
        
    



       

        .pagee{
            
            margin-left: -200px;

            height: 180px;
            width:400px;
            margin-bottom: -10px;
       }
        .pagee img{
            margin-top: 60px;
            margin-left: 30px;

            
        }
        #ncc{
        margin-left:90px; 
        margin-top: -25px;
        }


        #social-platforms .btn-icon{
            width: 90px;

        }
        .btn-facebook .btn-twitter .btn-google-plus .btn-pinterest .btn-linkedin{
            width: 40px !important;
        }
        .fa-stack{
            font-size: 2em !important;
        }
        .fa-circle{
            font-size: 2.2em !important ;
        }
        
        .homepage{
            margin-left: 230px;
            width: auto;
        margin-top: 130px;
        }

         #slidepic{
        margin-top: 90px;
        margin-left: -250px;
    }
  #jssor_1{

        position: relative; margin: 0 auto; top: 0px; margin-left:100px; width: 550px; height: 230px; overflow: hidden; visibility: hidden;
        transform: scale(0.9);
    }
    #navig{
        position: absolute; top: 0px; left: 0px;
    }
    #styll{
        filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
    }
    #styl{
        position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
    }
    #stylli{
        cursor: default; position: relative; top: 0px; left: 0px; bottom: 0px; width: 550px; height: 230px; overflow: hidden;
    }
     #arro{
        top:0px;left:8px;width:40px;height:40px;

    }
    #arro1{
         top:0px;right:8px;width:40px;height:40px;

    }
    .jssora05l, .jssora05r {

        margin-top: 110px;
    }
                
    }
        @media(max-width:767px)
    {


       

         .pagee{
            
            margin-left: -200px;

            height: 180px;
            width:400px;
            margin-bottom: -100px;
        }
        #calling h2{
            font-size: 22px;
        }
        #calling p{
            font-size: 16px;
        }
        #calling{
        width:240px;
    }
        footer{
            width: auto;
        }
        footer img{
            height: 90px;
            width: 150px;
        }

        #jssor_1{
            width: 300px;
         height: 200px;   
        }

        .pagee img{
            margin-top: 20px;
            margin-left: 0px;

            
        }
        

         #social-platforms .btn-icon {
            width: 60px;

        }
        #social-platforms .fa-facebook .fa-twitter .fa-google-plus .fa-pinterest .fa-linkedin{
            width: 30px;
        }
        .fa-stack{
            font-size: 1em !important;
        }
        .fa-circle{
            font-size: 2em !important ;
        }
        .homepage{
            margin-left: 220px;
            width: auto;
        margin-top: 180px;
        }
        


         #slidepic{
        margin-top: 40px;
        margin-left: -240px;
    }
  #jssor_1{

        position: relative; margin: 0 auto; top: 0px; margin-left: 50px; width: 350px; height: 180px; overflow: hidden; visibility: hidden;
        transform: scale(0.8);
    }
    #navig{
        position: absolute; top: 0px; left: 0px;
    }
    #styll{
        filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
    }
    #styl{
        position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
    }
    #stylli{
        cursor: default; position: relative; top: 0px; left: 0px; bottom: 0px; width: 350px; height: 180px; overflow: hidden;
    }
     #arro{
        top:0px;left:8px;width:40px;height:40px;

    }
    #arro1{
         top:0px;right:8px;width:40px;height:40px;

    }
    .jssora05l, .jssora05r {

        margin-top: 95px;
    }
        
    } 
    @media(max-width:599px)
    {
#calling{
    width: 180px;

}
#calling h2{
    font-size: 15px;
}
#calling p{
    font-size: 10px;
}
footer{
    width: auto;
}
.homepage{
    margin-top: 100px;
    width: auto;
    margin-left: 160px;
}
#calling p{
    font-size: 15px;
}
#calling h2{
    color:;
    font-size: 25px;
}
.idk{
        font-size: 19px;
    }
.pagee img{
    margin-top: 40px;
            margin-left: 40px;

            height: 140px;
            width:420px;
        }
  #slidepic{
        margin-top: 50px;
        margin-left: -140px;
    }
  #jssor_1{

        position: relative; margin: 0 auto; top: 0px; margin-left: -140px; width: 200px; height: 80px; overflow: hidden; visibility: hidden;
        transform: scale(0.6);
    }
    #navig{
        position: absolute; top: 0px; left: 0px;
    }
    #styll{
        filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
    }
    #styl{
        position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
    }
    #stylli{
        cursor: default; position: relative; top: 0px; left: 0px; bottom: 0px; width: 220px; height: 80px; overflow: hidden;
    }
     #arro{
        top:0px;left:8px;width:40px;height:40px;

    }
    #arro1{
         top:0px;right:8px;width:40px;height:40px;

    }
    .jssora05l, .jssora05r {

        margin-top: 36px;
    }

    }

@media(max-width: 360px)
{

#calling h2{
    font-size: 10px;
}
#calling p{
    font-size: 7px;
}
footer{
    width: auto;
}
.homepage{
    margin-left: 70px;
    width: auto;
    margin-top: 40px;
}
footer{
    height: auto;
}
footer img{
            height: 60px;
            width: 90px;
        }
.pagee img{
    margin-top: 10px;
    margin-left: 30px;

    height: 100px;
    width:220px;

    }
     #social-platforms {
  
  margin-top:10px;
  margin-left: 0px;
  font-size:1rem;
  text-align:center;
  height:50px;
  overflow:visible;
}

    #slidepic{
        margin-top: 30px;
        margin-left: -250px;
    }
  #jssor_1{

        position: relative; margin: 0 auto; top: 0px; margin-left: -145px; width: 220px; height: 100px; overflow: hidden; visibility: hidden;
        transform: scale(0.5);
    }
    #navig{
        position: absolute; top: 0px; left: 0px;
    }
    #styll{
        filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
    }
    #styl{
        position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
    }
    #stylli{
        cursor: default; position: relative; top: 0px; left: 0px; bottom: 0px; width: 220px; height: 100px; overflow: hidden;
    }
     #arro{
        top:0px;left:8px;width:40px;height:40px;

    }
    #arro1{
         top:0px;right:8px;width:40px;height:40px;

    }
    .jssora05l, .jssora05r {

        margin-top: 60px;
    }
    .idk{
        font-size: 12px;
    }



}

 @media (max-width:319px)
    {

#calling h2{
    font-size: 10px;
}
#calling p{
    font-size: 7px;
}
footer{
    width: auto;
}
.homepage{
    margin-left: 50px;
    width: auto;
    margin-top: 60px;
}
footer{
    height: auto;
}
footer img{
            height: 60px;
            width: 90px;
        }
.pagee img{
    margin-top: 40px;
            margin-left: 0px;

            height: 100px;
            width:220px;

    }
     #social-platforms {
  
  margin-top:10px;
  margin-left: 0px;
  font-size:1rem;
  text-align:center;
  height:50px;
  overflow:visible;
}

    #slidepic{
        margin-top: 50px;
        margin-left: -250px;
    }
  #jssor_1{

        position: relative; margin: 0 auto; top: 0px; margin-left: -105px; width: 220px; height: 100px; overflow: hidden; visibility: hidden;
        transform: scale(0.5);
    }
    #navig{
        position: absolute; top: 0px; left: 0px;
    }
    #styll{
        filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
    }
    #styl{
        position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
    }
    #stylli{
        cursor: default; position: relative; top: 0px; left: 0px; bottom: 0px; width: 220px; height: 100px; overflow: hidden;
    }
     #arro{
        top:0px;left:8px;width:40px;height:40px;

    }
    #arro1{
         top:0px;right:8px;width:40px;height:40px;

    }
    .jssora05l, .jssora05r {

        margin-top: 60px;
    }
    .idk{
        font-size: 12px;
    }



}
